<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body style="background: #464547">

  <div class="row" style="background: transparent">

  <div class="col-lg-9">
    <div class="jumbotron" style="padding: 60px; margin-top: 100px; margin-left: 100px; background: #94d6da">
    <h1 class="text-left" style="padding-bottom: 40px;">歡迎使用停車易</h1>
    <p class="text-left" style="padding-bottom: 60px;">停車易是一款幫助開車在外的您快速找到停車信息的軟件；通過這款軟件，您可以快速的確定自己的位置，並且找到最合適您的停車場。</p>
       <div>
          <a href="/utilroute" type="button" class="btn btn-primary btn-lg btn-block" style="height: 70px;">
                        <p class="text-center" style="padding-top: 10px;">如果這是您第一次使用的話，瞭解這款軟件的歷史和使用方法吧 ></p>
          </a>
       </div>
    </div>
  </div>

  <div class="col-lg-3">
       <div style="margin-top: 100px; margin-right: 50px;">
                 <a href="/utilroute" type="button" class="btn btn-primary btn-lg btn-block" style="height: 451px;">
                 <p class="text-center" style="padding-top: 180px;">開始使用 > </p>
                 </a>
              </div>
  </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>