<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="/stylesheet" href="stylesheets/jquery.mobile-1.2.1.min.css" />
    	<script src="/javascripts/jquery-1.8.3.min.js"></script>
    	<script src="/javascripts/jquery.mobile-1.2.1.min.js"></script>
    	<style>
            #b1{
                height: 300px;
                width: 400px;
                background-color: #F0F0F0 ;
                margin-top: 35px;
                margin-left:  200px;

                background-color: #c4c4c4;
                border: 2px solid #d9fff0;
                -moz-border-radius: 99px;
                -webkit-border-radius: 99px;
                border-radius: 99px;
                /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
                -moz-box-shadow: 0px 0px 20px #000000;
                -webkit-box-shadow: 0px 0px 20px #000000;
                box-shadow: 0px 0px 20px #000000;
                /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
                opacity: 0.93;
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 93);
                /*-ms-filter must come before filter*/
                filter: alpha(opacity = 93);
                /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
                /*All filters must be placed together*/


            }
            #b2{
                height: 300px;
                width: 400px;
                background-color: #F0F0F0 ;
                margin-top: 35px;
                margin-left:  200px;

                background-color: #c4c4c4;
                border: 2px solid #d9fff0;
                -moz-border-radius: 99px;
                -webkit-border-radius: 99px;
                border-radius: 99px;
                /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
                -moz-box-shadow: 0px 0px 20px #000000;
                -webkit-box-shadow: 0px 0px 20px #000000;
                box-shadow: 0px 0px 20px #000000;
                /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
                opacity: 0.93;
                -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 93);
                /*-ms-filter must come before filter*/
                filter: alpha(opacity = 93);
                /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
                /*All filters must be placed together*/


            }
    	</style>
</head>
<body>

<div data-role="page" data-theme="a">
	<div id="content" class="ui-grid-a" >
        <a href="/map"><div id="b1" class="ui-block-a"><h1>go to map</h1></div></a>
        <a href="/xiaoyu" ><div id="b2" class="ui-block-b"><h1>go to xiaoyu</h1></div></a>
	</div>

	<div id="content" class="ui-grid-a" >
            <a href="#"><div id="b1" class="ui-block-a"></div></a>
            <a href="#"><div id="b2" class="ui-block-b"></div></a>
    </div>

</div><!-- /page -->

</body>
</html>

<script language="javascript" src="/javascripts/getcurrent.js"></script>