<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script>
    console.log("Welcome to util!!");
    </script>
  </head>

  <body style="background: #464547">

<div style="margin: 120px;">
    <div class="row" style="margin: 20px;">
       <div class="col-lg-6">
       <div style="margin-left: 120px;">
                <a href="/find" type="button" class="btn btn-primary btn-lg btn-block" style="height: 200px;">
                     <p class="text-center" style="margin-top: 70px;">YI功能</p>
                </a>
       </div>
       </div>
       <div class="col-lg-6">
       <div style="margin-right: 120px;">
                       <a href="#" type="button" class="btn btn-primary btn-lg btn-block" style="height: 200px;">
                            <p class="text-center" style="margin-top: 70px;">待定功能</p>
                       </a>
              </div>
       </div>
    </div>

    <div class="row" style="margin: 20px;">
           <div class="col-lg-6">
           <div style="margin-left: 120px;">
                    <a href="#" type="button" class="btn btn-primary btn-lg btn-block" style="height: 200px;">
                         <p class="text-center" style="margin-top: 70px;">待定功能</p>
                    </a>
           </div>
           </div>
           <div class="col-lg-6">
           <div style="margin-right: 120px;">
                           <a href="#" type="button" class="btn btn-primary btn-lg btn-block" style="height: 200px;">
                                <p class="text-center" style="margin-top: 70px;">待定功能</p>
                           </a>
                  </div>
           </div>
        </div>
</div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    </body>
</html>