<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body style="background: #464547">
  <div style="margin: 100px;">
    <div class="row">
      <div class="col-lg-7">
      <div class="jumbotron" style="height: 451px">

      <div>
      <div class="panel panel-info" style="height: 260px;">地圖信息</div>
      </div>

      <div>
      <div class="panel panel-info">經緯度信息</div>
      </div>

      </div>
      </div>


      <div class="col-lg-5">
      <div class="jumbotron" style="height: 451px;">

      <div class="col-lg-12" style="margin-top: 2px;">
      <a href="#" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                <p class="text-center" style="padding-top: 5px;">XXX</p>
      </a>
      </div>
      <div class="col-lg-12" style="margin-top: 30px;">
      <a href="#" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                      <p class="text-center" style="padding-top: 5px;">XXX</p>
            </a>
      </div>
      <div class="col-lg-12" style="margin-top: 30px;">
      <a href="/select" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                      <p class="text-center" style="padding-top: 5px;">XXX</p>
            </a>
      </div>

      </div>
    </div>
  </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>