<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="/javascripts/getcurrent.js"></script>
  <script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=0335a544e98689d874dfc0fa5a06b47f"></script>
  <script src="/javascripts/mapinit.js"></script>

  <script type="text/javascript">
  getc(success, error, options);
  var x = 3;
  </script>
  </head>

  <body style="background: #464547" onLoad="mapinit()">
  <div style="margin-top: 100px; margin-left: 100px; margin-right: 100px;">
    <div class="row">
      <div class="col-lg-7">
      <div class="jumbotron" style="height: 451px">

      <div>
      <div id="map" class="panel panel-info" style="height: 260px;">地圖信息</div>
      </div>
      <!-- 無奈，只能用表單提交數據 -->
      <form method="post" action="/option">
      <div class="form-group">
      <div class="panel panel-info">
      <div class="row" style="">
      <div class="col-lg-6"  style="">
      <input id="inputx" name="inputx" type="text" class="form-control">
      </div>

      <div class="col-lg-6"  style="">
      <input id="inputy" name="inputy" type="text" class="form-control">
      </div>
      </div>
      </div>
      </div>

      </div>
      </div>


      <div class="col-lg-5">
      <div class="jumbotron" style="height: 451px;">

      <div class="col-lg-12" style="margin-top: 2px;">
      <a type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                <p class="text-center" style="padding-top: 5px;">YI距離</p>
                <input id="inputdis" name="inputdis" value="200" type="text" class="form-control" style="width: 25%; margin-left: 120px;">
      </a>
      </div>
      <div class="col-lg-12" style="margin-top: 30px;">
      <a type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                      <p class="text-center" style="padding-top: 5px;">YI空位</p>
                      <input id="inputsur" name="inputsur" value="100" type="text" class="form-control" style="width: 25%; margin-left: 120px;">
            </a>
      </div>
      <div class="col-lg-12" style="margin-top: 30px;">
      <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                      <p class="text-center" style="">走起，YI起來</p>
                 </button>
      </div>

      </div>
    </div>
  </div>

  </form>


  <div class="row" style="margin-left: 48px;">
     <div class="col-lg-2">
           <a onclick="getc(success, error, options);" type="button" class="btn btn-primary btn-lg btn-block" style="height: 50px;">
                                 <p class="text-center" style="padding-top: 5px;">走起，WEI起來</p>
                       </a>
     </div>
  </div>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>

<script type="text/javascript">
</script>