<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body style="background: #464547">

  <div style="margin: 100px;">
  <div class="row">
  <div class="col-lg-9">
  <div class="jumbotron" style="height: 451px;"></div>
  </div>

  <div class="col-lg-3">
  <div class="jumbotron" style="height: 451px;">
  <div class="row">
  <div class="col-lg-12" style="margin-bottom: 30px; margin-top: 20px;">
  <a href="/map" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                          <p class="text-center" style="padding-top: 20px;">地圖YI</p>
            </a>
  </div>

  <div class="col-lg-12" style="margin-top: 40px;">
  <a href="/button" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                            <p class="text-center" style="padding-top: 20px;">主頁君</p>
              </a>
    </div>
  </div>
  </div>
  </div>
  </div>




  </div>

  </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>
</html>