<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=0335a544e98689d874dfc0fa5a06b47f"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socketformap.js"></script>
    <script>
    var results = JSON.parse(localStorage.result);
    init();
    </script>

  </head>
  <body onload="mapfortpoints(results)" style="background: #464547">

  <div style="margin: 100px;">
  <div class="row">
  <div class="col-lg-9">
  <div class="jumbotron" style="height: 451px;">
  <div id="mapshow">

  </div>
  </div>

  </div>

  <div class="col-lg-3">
  <div class="jumbotron" style="height: 451px;">
  <div class="row">
  <div class="col-lg-12" style="margin-bottom: 30px; margin-top: 20px;">
  <a href="/list" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                          <p class="text-center" style="padding-top: 20px;">列表YI</p>
            </a>
  </div>

  <div class="col-lg-12" style="margin-top: 40px;">
  <a href="/button" type="button" class="btn btn-primary btn-lg btn-block" style="height: 100px;">
                            <p class="text-center" style="padding-top: 20px;">主頁君</p>
              </a>
    </div>
  </div>
  </div>
  </div>
  </div>




  </div>

  </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/mapshow.js"></script>
    <script src="/javascripts/socketformap.js"></script>
  </body>
</html>