<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body style="background: #464547">
    <div class="jumbotron"  style="height: 451px; margin: 100px; padding: 100px;">
    <div class="row">


    <div class="col-lg-6">
    <a href="/map" type="button" class="btn btn-primary btn-lg btn-block" style="height: 220px;">
                            <p class="text-center" style="padding-top: 75px;">地圖YI</p>
              </a>
    </div>

    <div class="col-lg-6">
    <a href="/list" type="button" class="btn btn-primary btn-lg btn-block" style="height: 220px;">
                            <p class="text-center" style="padding-top: 75px;">列表YI</p>
              </a>
    </div>

    </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

   </body>
</html>