<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
#demo{
	margin-left: 500px;
	margin-right: auto;
}
#map{
	margin-left: auto;
	margin-right: auto;
	width:659px;
	height:400px;
	resize:both;
}
</style>
<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=0335a544e98689d874dfc0fa5a06b47f"></script>
</head>

<body onLoad="mapInit()">
 
<h1 id="demo">這裡顯示的是你的地圖</h1>
<div id="map">
</div>
<a href="javascript:addMarker()" style="margin-left: 500px">添加普通点覆盖物</a>
</body>

</html>

<script>
var x=document.getElementById("demo");

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;
  
  if(typeof(Storage)!="undefined"){
		console.log("web storage supports");
		lat = crd.latitude;
		lon = crd.longitude;
		
		var currentposition = {
			'lon': lon,
			'lat': lat
		};
				
		localStorage.currentposition = JSON.stringify(currentposition);
		var cup = JSON.parse(localStorage.currentposition);
		localStorage.currentpositionlat = crd.latitude;
		localStorage.currentpositionlon = crd.longitude;
		localStorage.currentacu = crd.accuracy;
		
		console.log(cup);
		console.log(cup.lon);
		console.log(cup.lat);
		console.log('Your current position is:');
  		console.log('Latitude : ' + localStorage.currentpositionlat);
  		console.log('Longitude: ' + localStorage.currentpositionlon);
 	    console.log('More or less ' + localStorage.currentacu + ' meters.');
	}else{
		console.log("web storage not supports");
	}
};

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
};

navigator.geolocation.getCurrentPosition(success, error, options);

var obj;
var cup = JSON.parse(localStorage.currentposition);
var LngLat = new AMap.LngLat(cup.lon,cup.lat);

function mapInit(){
	obj = new AMap.Map("map",{
/*		center:new AMap.LngLat(localStorage.currentpositionlon,localStorage.currentpositionlat),
*/
		center: LngLat,
		level:18
	});
	var buildings = new AMap.Buildings();
	buildings.setMap(obj);
}

function addMarker(){
	var marker = new AMap.Marker({
		map:obj,
		position: new AMap.LngLat(localStorage.currentpositionlon,localStorage.currentpositionlat),
		icon:"http://webapi.amap.com/images/marker_sprite.png",
		offset:{x:-8,y:-34}
	});
}

</script>