<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
#demo{
	margin-left: 500px;
	margin-right: auto;
	background-color: black;
}
#map{
	margin-left: auto;
	margin-right: auto;
	width:659px;
	height:400px;
	resize:both;
}
</style>
<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=0335a544e98689d874dfc0fa5a06b47f"></script>
<script src="/socket.io/socket.io.js"></script>



<script>
var result = <%- JSON.stringify(result) %>;
console.log("Hello chuandadexiaoyu!");
</script>

</head>



<body onLoad="mapfortpoints(result)">
 
<h1 id="川大23">Hello Map</h1>
<div id="map">
</div>
X：<input type="text" name="mapX" id="mapX" value=""> Y：</td><td width="86%"><input type="text" name="mapY" id="mapY" value=""> 

<a href="javascript:mapclick()">注册地图单击事件</a>

</body>

</html>

<script>
</script>

<script language="javascript" src="/javascripts/mapshow.js"></script>


